* {
	padding: 0px;
	margin: 0px;
	font-family: Century Gothic;
}

body {
	background-color: #ededed;
	width: 100%; 
    margin-left:auto; 
    margin-right: auto; 
    height:100%;
}

div {
	padding: 5px;
	background-color: #fff;
	margin: 50px;
}

input {
	padding: 9px;
	font-size: 18px;
	border: solid 1px #aaa;
	width: 70%
}

textarea {
	border: 1px solid #888; 
	font-size: 18px;
	outline: none;
	width: 70%;
	
}

input[type="button"] {
	width: 5%
}

p {
  color: #708090;
  text-indent: 30px;
  text-transform: uppercase;
}